@model ReservationDetailsVM
@{
    ViewData["Title"] = "reservation success";
}

<div id="product-createedit-page">
    <div class="row">
        <div class="offset-md-1 offset-lg-2 col-md-10 col-lg-8">
            <div class="page-title">
                <h2>Reservation complétée avec succès !</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <img class="d-none d-xs-none d-sm-table-cell" src="~/img/details.jpg" alt="une image de reservation" />
        </div>

        <div class="col-lg-6" ">
            <div class="offset-md-1 offset-lg-2 col-md-10 col-lg-8">
                <div class="form-section">
                    <hr />
                    <div class="row details-row">
                        <div class="col-sm-6">@Html.DisplayNameFor(model => model.Reservation.Nom) : </div>
                        <div class="col-sm-6">@Html.DisplayFor(model => model.Reservation.Nom)</div>
                    </div>
                    <div class="row details-row">
                        <div class="col-sm-6">@Html.DisplayNameFor(model => model.Reservation.Courriel) : </div>
                        <div class="col-sm-6">@Html.DisplayFor(model => model.Reservation.Courriel)</div>
                    </div>
                    <div class="row details-row">
                        <div class="col-sm-6">@Html.DisplayNameFor(model => model.Reservation.NbPersonne) : </div>
                        <div class="col-sm-6">@Html.DisplayFor(model => model.Reservation.NbPersonne)</div>
                    </div>
                    <div class="row details-row">
                        <div class="col-sm-6">@Html.DisplayNameFor(model => model.Reservation.DateReservation) : </div>
                        <div class="col-sm-6">@Html.DisplayFor(model => model.Reservation.DateReservation)</div>
                    </div>
                    <div class="row details-row">
                        <div class="col-sm-6">@Html.DisplayNameFor(model => model.Menu.Description) : </div>
                        <div class="col-sm-6">@Html.DisplayFor(model => model.Menu.Description)</div>
                    </div>

                    <div class="row details-row">
                        <div class="col-sm-6">
                            <h5>Merci d'avoir utiliser notre module de reservation en ligne au plaisir de vous voir bientot</h5>
                            <h4>L'équipe'</h4>
                        </div>
                    </div>
                    <hr />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="links col-md-12">
            <a asp-action="Index">Retour à la page d'accueil</a>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
