@model ReservationDeleteVM
@{
    ViewData["Title"] = "Supprimer une reservation";
}

<div id="product-delete-page">
    <div class="row">
        <div class="offset-md-1 offset-lg-2 col-md-10 col-lg-8">
            <div class="page-title">
                <h2>Supprimer une reservation</h2>
            </div>
            <div class="form-section">
                <h5>Êtes-vous certain de vouloir supprimer cet item ?</h5>
                <hr />
                <div class="row details-row">
                    <div class="col-sm-6">@Html.DisplayNameFor(model => model.Reservation.DateReservation) : </div>
                    <div class="col-sm-6">@Html.DisplayFor(model => model.Reservation.DateReservation)</div>
                </div>
                <div class="row details-row">
                    <div class="col-sm-6">@Html.DisplayNameFor(model => model.Reservation.Nom) : </div>
                    <div class="col-sm-6">@Html.DisplayFor(model => model.Reservation.Nom)</div>
                </div>
                <div class="row details-row">
                    <div class="col-sm-6">@Html.DisplayNameFor(model => model.Reservation.Courriel) : </div>
                    <div class="col-sm-6">@Html.DisplayFor(model => model.Reservation.Courriel)</div>
                </div>
                <div class="row details-row">
                    <div class="col-sm-6">@Html.DisplayNameFor(model => model.Reservation.NbPersonne) : </div>
                    <div class="col-sm-6">@Html.DisplayFor(model => model.Reservation.NbPersonne)</div>
                </div>
                <div class="row details-row">
                    <div class="col-sm-6">@Html.DisplayNameFor(model => model.Reservation.MenuChoiceId) : </div>
                    <div class="col-sm-6">@Model.MenuDescription</div>
                </div>
                <hr />
                <form asp-action="Delete">
                    <input type="submit" value="Supprimer" class="btn btn-danger" />
                </form>
            </div>
            <div class="links">
                <a asp-action="List">Retour à la liste des reservations</a>
            </div>
        </div>
    </div>
</div>
