@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ReservationListVM
@{
    ViewData["Title"] = "Liste des reservations";
}

<div id="categroy-list-page">
    <div class="row">
        <div class="col-12">
            <div class="page-title">
                <h2>
                    <i class="fas fa-list"></i>
                    Liste des reservations
                </h2>
            </div>

            <table class="table table-sm table-bordered table-striped table-hover">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Reservations[0].DateReservation)</th>
                    <th>@Html.DisplayNameFor(model => model.Reservations[0].Nom)</th>
                    <th class="d-none d-sm-none d-md-table-cell">@Html.DisplayNameFor(model => model.Reservations[0].Courriel)</th>
                    <th>@Html.DisplayNameFor(model => model.Reservations[0].MenuChoiceId)</th>
                    <th>@Html.DisplayNameFor(model => model.Reservations[0].NbPersonne)</th>
                    <th class="d-none d-xs-none d-sm-table-cell">Actions</th>
                </tr>
                @if (Model.Reservations.Count > 0)
                {
                    foreach (Reservation reservation in Model.Reservations)
                    {
                        <tr>
                            <td>@Html.DisplayFor(model => reservation.DateReservation)</td>
                            <td>@Html.DisplayFor(model => reservation.Nom)</td>
                            <td class="d-none d-sm-none d-md-table-cell">@Html.DisplayFor(model => reservation.Courriel)</td>
                            <td>@Model.GetMenuNameByReservation(reservation.MenuChoiceId)</td>
                            <td>@Html.DisplayFor(model => reservation.NbPersonne) pers.</td>
                            <td>
                                <a asp-action="Delete" asp-route-id="@reservation.Id">
                                    <span class="delete-icon" data-id="1" title="Supprimer">
                                    <i class="fas fa-trash"></i>
                                    </span>
                                </a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5">Aucune catégorie trouvée.</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

